.header {
  transition: transform 0.2s ease-out;
}
.header .container {
  margin-top: 84px;
}
.header__img {
  width: 100%;
  img {
    width: 100%;
  }
}
.fixed-top {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 100%;
  height: 83px;
  backdrop-filter: blur(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.178);
  transition: transform 0.2s ease-out;
}

.min .header__top-navbar {
  margin-top: 50px;
  transition: margin-top 0.2s ease-out;
}
.header__burger {
  position: absolute;
  top: 23px;
  right: 0;
  width: 44px;
  height: 37px;
  background: rgb(0, 0, 0);
  padding: 9px 11px;
  margin-right: 28px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(240, 240, 240);
    transition: transform 0.2s ease-out;
  }
}
.toggle .line1 {
  // background-color: #666666;
  transform: rotateZ(-135deg) translate(-5px, -4px);
  transform-origin: center;
}
.toggle .line2 {
  transform: scaleX(0);
}
.toggle .line3 {
  transform: rotateZ(135deg) translate(-5px, 4px);
  transform-origin: center;
}

.header__menue {
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 28px;
  background-color: $primarygray;
  width: 183px;
  transform: scaleY(0.3);
  opacity: 0;
  transform-origin: top right;
  transition: all 0.3s ease-out;
  .header__link {
    display: block;
    padding-left: 13px;
    &.header__link--active {
      background: rgb(195, 195, 195);
    }
  }
}
.toggle .header__menue {
  opacity: 1;
  transform: scaleY(1);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.header__link {
  font-family: "Roboto";
  font-size: 11px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: $midle_gray;
  &:hover {
    color: $active_link;
  }
}
.header__link--active {
  position: relative;
  color: $active_link;
}
